torch>=2.0.0
torchvision
numpy
opencv-python
easydict
yacs
timm==0.5.4
tensorboardX
shapely
numba
tqdm
pandas
pyyaml
matplotlib
scipy
thop
gdown
tensorboard
tensorboardX
visdom
cython
lmdb
lvis
scikit-image
scikit-learn
requests
gitpython
anyio
beautifulsoup4
bleach
argon2-cffi
attrs
backcall
cachetools
cffi
charset-normalizer
click
coloredlogs
cvxopt
cycler
debugpy
decorator
defusedxml
docker-pycreds
einops
entrypoints
fairscale
fastjsonschema
filelock
flatbuffers
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jinja2
joblib
jpeg4py
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
markdown
markupsafe
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook
notebook-shim
oauthlib
onnxruntime
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil-resolve-name
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycocotools
pycparser
pygments
pyparsing
pyrsistent
pysocks
python-dateutil
pytz
pywavelets
pyzmq
qtconsole
qtpy
qudida
regex
requests-oauthlib
rsa
safetensors
send2trash
sentry-sdk
setproctitle
six
smmap
sniffio
soupsieve
spatial-correlation-sampler
sympy
tb-nightly
tensorboard-data-server
tensorboard-plugin-wit
terminado
threadpoolctl
tifffile
tikzplotlib
tinycss2
tokenizers
tornado
traitlets
transformers
triton
typing-extensions
urllib3
wandb
wcwidth
webcolors
webencodings
websocket-client
werkzeug
widgetsnbextension
zipp
